@import "tailwindcss";

html, body {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


